In [1]:
import sys
from pathlib import Path
p_link = Path("/public/workspace/licanchengup/link")
p_publish = p_link.joinpath("res_publish")
None if str(p_publish) in sys.path else sys.path.append(str(p_publish))

In [2]:
from func import *

/public/workspace/licanchengup/apps/miniconda3/envs/publish/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
2024-03-21 11:34:35.124079: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

# human

In [3]:
df_h = pd.read_csv('human_t_ann.csv',index_col=0)
display(df_h.head(2),df_h.shape)
print(*df_h.columns,sep='\n')

,Patient,Tissue,Barcoding emulsion,Library,Barcode,Total counts,Percent counts from mitochondrial genes,Most likely LM22 cell type,cell_type,Minor subset,...,y_NSCLC_immune,used_in_NSCLC_non_immune,x_NSCLC_non_immune,y_NSCLC_non_immune,used_in_blood,x_blood,y_blood,newbarcode,CellType,SubCellType
bcHTNA;p1t1,p1,tumor,p1t,p1t1,bcHTNA,7516.0,3.579031,Macrophages M2,tMoMacDC,tMac2,...,-1145.346928,False,NaN,NaN,False,NaN,NaN,p1t1bcHTNA,MoMacDC,Mac2
bcHNVA;p1t1,p1,tumor,p1t,p1t1,bcHNVA,5684.0,4.574243,Macrophages M2,tMoMacDC,tMac2,...,-1211.471793,False,NaN,NaN,False,NaN,NaN,p1t1bcHNVA,MoMacDC,Mac2

(34558, 28)

Patient
Tissue
Barcoding emulsion
Library
Barcode
Total counts
Percent counts from mitochondrial genes
Most likely LM22 cell type
cell_type
Minor subset
used_in_NSCLC_all_cells
x_NSCLC_all_cells
y_NSCLC_all_cells
used_in_NSCLC_and_blood_immune
x_NSCLC_and_blood_immune
y_NSCLC_and_blood_immune
used_in_NSCLC_immune
x_NSCLC_immune
y_NSCLC_immune
used_in_NSCLC_non_immune
x_NSCLC_non_immune
y_NSCLC_non_immune
used_in_blood
x_blood
y_blood
newbarcode
CellType
SubCellType

In [4]:
df_h.iloc[:2,:15]

,Patient,Tissue,Barcoding emulsion,Library,Barcode,Total counts,Percent counts from mitochondrial genes,Most likely LM22 cell type,cell_type,Minor subset,used_in_NSCLC_all_cells,x_NSCLC_all_cells,y_NSCLC_all_cells,used_in_NSCLC_and_blood_immune,x_NSCLC_and_blood_immune
bcHTNA;p1t1,p1,tumor,p1t,p1t1,bcHTNA,7516.0,3.579031,Macrophages M2,tMoMacDC,tMac2,True,2021.017899,-407.253278,True,1171.076582
bcHNVA;p1t1,p1,tumor,p1t,p1t1,bcHNVA,5684.0,4.574243,Macrophages M2,tMoMacDC,tMac2,True,2044.924014,-483.665229,True,1119.986244

In [8]:
df_h['Tissue'].unique()

array(['tumor'], dtype=object)

In [5]:
{
    _row['cell_type']:_row['CellType']
    for _i,_row in df_h.iterrows()
}

{'tMoMacDC': 'MoMacDC',
 'tMast cells': 'Mast cells',
 'tT cells': 'T cells',
 'tNeutrophils': 'Neutrophils',
 'tNK cells': 'NK cells',
 'tPlasma cells': 'Plasma cells',
 'tB cells': 'B cells',
 'tpDC': 'pDC',
 'tRBC': 'RBC'}

In [6]:
group_agg(df_h,['cell_type','CellType'],{'cell_type':['count']})

       cell_type      CellType  cell_type_count
0       tB cells       B cells             5218
1    tMast cells    Mast cells              732
2       tMoMacDC       MoMacDC             9372
3      tNK cells      NK cells             1116
4   tNeutrophils   Neutrophils             2728
5  tPlasma cells  Plasma cells             2197
6           tRBC           RBC              108
7       tT cells       T cells            12776
8           tpDC           pDC              311

In [10]:
group_agg(df_h,['Minor subset','SubCellType'],{'SubCellType':['count']})

   Minor subset SubCellType  SubCellType_count
0            tB           B               5218
1          tDC1         DC1                171
2          tDC2         DC2                330
3          tDC3         DC3                101
4         tMac1        Mac1                949
5         tMac2        Mac2                919
6         tMac3        Mac3               2554
7         tMac4        Mac4                418
8         tMac5        Mac5                165
9         tMac6        Mac6                284
10        tMac7        Mac7                412
11        tMac8        Mac8                502
12        tMac9        Mac9                 94
13     tMacCycl     MacCycl                200
14       tMast1       Mast1                643
15       tMast2       Mast2                 89
16       tMono1       Mono1                698
17       tMono2       Mono2                252
18       tMono3       Mono3                226
19      tMonoDC      MonoDC               1097
20          tN1          N1                526
21          tN2          N2                 86
22          tN3          N3                425
23          tN4          N4                789
24          tN5          N5                902
25         tNK1         NK1                886
26         tNK2         NK2                230
27         tPC1         PC1                638
28         tPC2         PC2                 77
29         tPC3         PC3                369
30         tPC4         PC4                244
31         tPC5         PC5                 73
32         tPC6         PC6                796
33         tRBC         RBC                108
34          tT1          T1               2397
35          tT2          T2               6654
36          tT3          T3               2163
37          tT4          T4                342
38          tT5          T5                296
39          tT6          T6                691
40          tT7          T7                233
41         tpDC         pDC                311

# mouse

In [13]:
df_m = pd.read_csv('mouse_t_ann.csv',index_col=0)
display(df_m.head(2),df_m.shape)
print(*df_m.columns,sep='\n')

,Tumor or healthy,Biological replicate,Library,Barcode,Library prep batch,Total counts,Percent counts from mitochondrial genes,Most likely Immgen cell type,cell_type,Minor subset,x,y,newbarcode,CellType,SubCellType
bc0001;t_1_1,t,Tumor-bearing 1,t_1_1,bc0001,round1_20151128,7927.0,3.393,MF_Thio5_II+480int_PC,tMoMacDC,Mac1,1174.120533,-217.075559,t_1_1bc0001,MoMacDC,Mac1
bc0002;t_1_1,t,Tumor-bearing 1,t_1_1,bc0002,round1_20151128,5665.0,6.461,DC_103-11b+24+_Lu,tMoMacDC,DC1,1068.808968,-37.966851,t_1_1bc0002,MoMacDC,DC1

(9201, 15)

Tumor or healthy
Biological replicate
Library
Barcode
Library prep batch
Total counts
Percent counts from mitochondrial genes
Most likely Immgen cell type
cell_type
Minor subset
x
y
newbarcode
CellType
SubCellType

In [12]:
df_m['Tumor or healthy'].value_counts()

Tumor or healthy
t    9201
Name: count, dtype: int64