# mtb -> mouse
# bal -> human

In [1]:
library(tidyverse)
library(Seurat)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.0     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Loading required package: SeuratObject

Loading required package: sp

‘SeuratObject’ was built under R 4.3.2 but the current version is
4.3.3; it is recomended that you reinstall ‘SeuratObject’ as the ABI
for R may have changed

‘SeuratObject’ was built with package ‘Matrix’ 1.6.3 but the current
version is 1.6.5; it is recomended that you reinstall ‘SeuratObject’ as
the ABI for ‘Matrix’ may have changed


Attaching package: ‘SeuratObject’


The following object is masked from ‘package:base’:

    intersect

# bal

In [2]:
# adata_bal = readRDS("GSE167232_bal_integrated.RDS")
# adata_bal@assays$integrated
# adata_bal@meta.data %>% head(2)
# adata_bal@meta.data %>% group_by(seurat_clusters) %>% count
# adata_bal@meta.data %>% group_by(Batch) %>% count
# adata_bal@meta.data %>% group_by(orig.ident) %>% count

# # # GSM5100069	BAL - Subject_1
# # # GSM5100070	BAL - Subject_2_3
# # # Human

# adata_bal@meta.data = adata_bal@meta.data %>% mutate(
#     cell_id = rownames(adata_bal@meta.data)
# )
# adata_bal@meta.data$cell_id %>% duplicated %>% any
# adata_bal@meta.data %>% write_csv("GSE167232_bal_integrated_meta.csv")
# rm(adata_bal)

# mtb

In [3]:
adata_mtb = readRDS("GSE167232_mtb_integrated.RDS")

In [4]:
adata_mtb@meta.data %>% dim

[1] 17101    21

In [5]:
rownames(adata_mtb@meta.data) %>% duplicated() %>% any()
adata_mtb@meta.data <- adata_mtb@meta.data %>% mutate(
  cell_id = rownames(adata_mtb@meta.data),
   seurat_clusters = as.character(seurat_clusters), 
    .before = 1)

[1] FALSE

In [6]:
df_cell_type = adata_mtb@meta.data %>% 
filter(Treatment == "Infected") %>% 
group_by(seurat_clusters) %>% count() %>% 
left_join(read_csv("table1.txt"), by = c("n" = "count")) %>%
filter(!is.na(cell_type)) %>%select(seurat_clusters,cell_type)

adata_mtb@meta.data = adata_mtb@meta.data %>% left_join(df_cell_type,by = 'seurat_clusters')

Rows: 8 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): cell_type
dbl (1): count

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [7]:
adata_mtb@meta.data %>% head(2)

  cell_id            orig.ident nCount_RNA nFeature_RNA nCount_ADT nFeature_ADT
1 AAACCCACAGGCTATT_1 inf_1      9144       2176         107        4
2 AAACCCAGTCCTACGG_1 inf_1      1340        694         121        4
  nCount_HTO nFeature_HTO percent.mt MULTI_ID ⋯ Treatment Protein Batch
1 798        3             2.777778  gfp-hi   ⋯ Infected  no      Batch1
2 372        3            24.925373  gfp-hi   ⋯ Infected  no      Batch1
  RNA_snn_res.0.7 seurat_clusters RNA_snn_res.0.8 RNA_snn_res.0.9
1 0               1               0               0
2 4               4               3               2
  RNA_snn_res.0.6 RNA_snn_res.0.5 cell_type
1 1               2               IM_3
2 4               4               IM_1

In [8]:
adata_mtb@meta.data %>% colnames
adata_mtb@meta.data %>% dim
adata_mtb@meta.data %>% head(2)
adata_mtb@meta.data %>% group_by(orig.ident) %>% count
adata_mtb@meta.data %>% group_by(MULTI_ID) %>% count
adata_mtb@meta.data %>% group_by(Treatment) %>% count
adata_mtb@meta.data %>% group_by(Protein) %>% count
adata_mtb@meta.data %>% group_by(Batch) %>% count

 [1] "cell_id"              "orig.ident"           "nCount_RNA"
 [4] "nFeature_RNA"         "nCount_ADT"           "nFeature_ADT"
 [7] "nCount_HTO"           "nFeature_HTO"         "percent.mt"
[10] "MULTI_ID"             "MULTI_classification" "nCount_SCT"
[13] "nFeature_SCT"         "Treatment"            "Protein"
[16] "Batch"                "RNA_snn_res.0.7"      "seurat_clusters"
[19] "RNA_snn_res.0.8"      "RNA_snn_res.0.9"      "RNA_snn_res.0.6"
[22] "RNA_snn_res.0.5"      "cell_type"

[1] 17101    23

  cell_id            orig.ident nCount_RNA nFeature_RNA nCount_ADT nFeature_ADT
1 AAACCCACAGGCTATT_1 inf_1      9144       2176         107        4
2 AAACCCAGTCCTACGG_1 inf_1      1340        694         121        4
  nCount_HTO nFeature_HTO percent.mt MULTI_ID ⋯ Treatment Protein Batch
1 798        3             2.777778  gfp-hi   ⋯ Infected  no      Batch1
2 372        3            24.925373  gfp-hi   ⋯ Infected  no      Batch1
  RNA_snn_res.0.7 seurat_clusters RNA_snn_res.0.8 RNA_snn_res.0.9
1 0               1               0               0
2 4               4               3               2
  RNA_snn_res.0.6 RNA_snn_res.0.5 cell_type
1 1               2               IM_3
2 4               4               IM_1

  orig.ident n
1 inf_1      2848
2 inf_2      4831
3 inf_3      2869
4 mtb_unin   3004
5 mtb_unin2  3549

  MULTI_ID   n
1 bystander  3742
2 gfp-hi     4434
3 gfp-low    6114
4 uninfected 2811

  Treatment  n
1 Bystander   3742
2 Infected   10548
3 Uninfected  2811

  Protein n
1 no       2848
2 yes     14253

  Batch  n
1 Batch1 2848
2 Batch2 7835
3 Batch3 6418

In [9]:
# adata_mtb@meta.data %>% group_by(seurat_clusters,cell_type) %>% count
adata_mtb@meta.data %>%
filter(Treatment == "Infected") %>% group_by(seurat_clusters,cell_type,MULTI_ID) %>% count
adata_mtb@meta.data$cell_id %>% duplicated %>% any

   seurat_clusters cell_type MULTI_ID n
1  0               AM_1      gfp-hi    253
2  0               AM_1      gfp-low  1615
3  1               IM_3      gfp-hi   1837
4  1               IM_3      gfp-low   599
5  10              NA        gfp-hi     49
6  10              NA        gfp-low    61
7  11              NA        gfp-hi     42
8  11              NA        gfp-low    64
9  12              NA        gfp-hi     20
10 12              NA        gfp-low    32
11 13              NA        gfp-hi     38
12 13              NA        gfp-low    27
13 2               AM_2      gfp-hi    400
14 2               AM_2      gfp-low   378
15 3               IM_2      gfp-hi    546
16 3               IM_2      gfp-low   855
17 4               IM_1      gfp-hi    668
18 4               IM_1      gfp-low   728
19 5               AM_3      gfp-hi     85
20 5               AM_3      gfp-low   920
21 6               AM_4      gfp-hi     40
22 6               AM_4      gfp-low   269
23 7               IM_4      gfp-hi    222
24 7               IM_4      gfp-low   163
25 8               NA        gfp-hi    103
26 8               NA        gfp-low   157
27 9               NA        gfp-hi    131
28 9               NA        gfp-low   246

[1] FALSE

In [10]:
adata_mtb@meta.data %>% group_by(cell_id) %>% count %>% filter(n >1)

     cell_id n

In [11]:
adata_mtb@meta.data %>% head(2)
adata_mtb@meta.data %>% dim
adata_mtb@meta.data %>% write_csv("GSE167232_mtb_integrated_meta.csv")

  cell_id            orig.ident nCount_RNA nFeature_RNA nCount_ADT nFeature_ADT
1 AAACCCACAGGCTATT_1 inf_1      9144       2176         107        4
2 AAACCCAGTCCTACGG_1 inf_1      1340        694         121        4
  nCount_HTO nFeature_HTO percent.mt MULTI_ID ⋯ Treatment Protein Batch
1 798        3             2.777778  gfp-hi   ⋯ Infected  no      Batch1
2 372        3            24.925373  gfp-hi   ⋯ Infected  no      Batch1
  RNA_snn_res.0.7 seurat_clusters RNA_snn_res.0.8 RNA_snn_res.0.9
1 0               1               0               0
2 4               4               3               2
  RNA_snn_res.0.6 RNA_snn_res.0.5 cell_type
1 1               2               IM_3
2 4               4               IM_1

[1] 17101    23

In [9]:
df = read_csv('GSE167232_mtb_integrated_meta.csv')
df %>% 
    # filter(Treatment == "Infected") %>% 
    group_by(seurat_clusters,cell_type) %>% 
    summarise(
        count = n())

Rows: 17101 Columns: 23
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (8): cell_id, orig.ident, MULTI_ID, MULTI_classification, Treatment, Pr...
dbl (15): nCount_RNA, nFeature_RNA, nCount_ADT, nFeature_ADT, nCount_HTO, nF...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
`summarise()` has grouped output by 'seurat_clusters'. You can override using
the `.groups` argument.

   seurat_clusters cell_type count
1   0              AM_1      3218
2   1              IM_3      2861
3   2              AM_2      2547
4   3              IM_2      1896
5   4              IM_1      1852
6   5              AM_3      1843
7   6              AM_4       967
8   7              IM_4       536
9   8              NA         444
10  9              NA         411
11 10              NA         171
12 11              NA         137
13 12              NA         129
14 13              NA          89

In [12]:
# read.csv("GSE167232_bal_integrated.csv.gz")