
+ seurat_clusters_article -> cell_type, sub_cell_type_1
+ seuratObj ->  mtx
    + rename cell -> add 'Mtb_mtb;'

In [1]:
library(tidyverse)
library(Seurat)
library(IRdisplay)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.0     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Loading required package: SeuratObject

Loading required package: sp

‘SeuratObject’ was built under R 4.3.2 but the current version is
4.3.3; it is recomended that you reinstall ‘SeuratObject’ as the ABI
for R may have changed

‘SeuratObject’ was built with package ‘Matrix’ 1.6.3 but the current
version is 1.6.5; it is recomended that you reinstall ‘SeuratObject’ as
the ABI for ‘Matrix’ may have changed


Attaching package: ‘SeuratObject’


The following object is masked from ‘package:base’:

    intersect

In [2]:
markers = NULL
for(group in 8:13){
    cat(group,'\n')
    p_out <- file.path("markers", sprintf("mtb_%d.csv", group))
    temp_df =  read_csv(p_out) %>% filter(p_val_adj < 0.01) %>% arrange(desc(avg_log2FC))
    # temp_df %>% rename(group = gourp) %>% write_csv(p_out)
    
    if(is.null(markers)){
        markers = temp_df
    }else{
            markers = bind_rows(markers,temp_df)
    }

    
}

8

Rows: 1835 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): gene_name
dbl (6): group, p_val, avg_log2FC, pct.1, pct.2, p_val_adj

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

9

Rows: 2274 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): gene_name
dbl (6): group, p_val, avg_log2FC, pct.1, pct.2, p_val_adj

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

10

Rows: 325 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): gene_name
dbl (6): group, p_val, avg_log2FC, pct.1, pct.2, p_val_adj

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

11

Rows: 772 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): gene_name
dbl (6): group, p_val, avg_log2FC, pct.1, pct.2, p_val_adj

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

12

Rows: 879 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): gene_name
dbl (6): group, p_val, avg_log2FC, pct.1, pct.2, p_val_adj

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

13

Rows: 323 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): gene_name
dbl (6): group, p_val, avg_log2FC, pct.1, pct.2, p_val_adj

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [3]:
markers %>% head(2)
markers  %>% group_by(group) %>% count

  group gene_name p_val        avg_log2FC pct.1 pct.2 p_val_adj
1 8     Adgre4    0.000000e+00 9.607770   0.363 0.002 0.000000e+00
2 8     Il31ra    1.518045e-51 8.600822   0.016 0.000 3.434729e-47

  group n
1  8    1835
2  9    2274
3 10     325
4 11     772
5 12     879
6 13     323

In [4]:
# 11, Eomes -> T cell 
# markers %>% filter(group == 11)

# 13, B cell
# markers %>% filter(group == 13) %>% head(10)
# markers %>% filter(group == 12) %>% head(10)

# 8? Monocytes
markers %>% filter(group == 8) %>% head(10)

   group gene_name p_val         avg_log2FC pct.1 pct.2 p_val_adj
1  8     Adgre4     0.000000e+00 9.607770   0.363 0.002  0.000000e+00
2  8     Il31ra     1.518045e-51 8.600822   0.016 0.000  3.434729e-47
3  8     S1pr5     2.316217e-116 7.940687   0.045 0.000 5.240674e-112
4  8     Gjb2       6.948782e-73 7.784370   0.029 0.000  1.572231e-68
5  8     Tgfbr3     2.781194e-69 7.645902   0.032 0.001  6.292729e-65
6  8     Cd300e    5.051429e-213 7.408675   0.083 0.001 1.142936e-208
7  8     Ace        0.000000e+00 7.356778   0.304 0.005  0.000000e+00
8  8     Nxpe4     3.345133e-107 7.284004   0.054 0.001 7.568698e-103
9  8     Ifitm6     0.000000e+00 6.995710   0.205 0.002  0.000000e+00
10 8     Pou2f2     0.000000e+00 6.714748   0.523 0.018  0.000000e+00

In [5]:
# 8,Macrophages/T-cells
# 8,Macrophages/B-cells
# markers %>% filter(gene_name == 'Ly6l')
markers %>% filter(gene_name == 'Ly6a')

# 9,Neutrophils
# markers %>% filter(gene_name == 'Egr1')

# 10,DC
# markers %>% filter(gene_name == 'Cst7')


markers %>% filter(str_detect(gene_name,'.?103.?'))

  group gene_name p_val        avg_log2FC pct.1 pct.2 p_val_adj
1 8     Ly6a      3.308217e-38 -1.676619  0.153 0.491 7.485171e-34
2 9     Ly6a      1.893924e-19 -0.970720  0.238 0.489 4.285193e-15

  group gene_name  p_val        avg_log2FC pct.1 pct.2 p_val_adj
1 13    AC133103.3 1.807499e-43 8.99976    0.011 0     4.089646e-39

# Seruat -> mtx

In [ ]:
source(file.path('~/link/res_publish','func_r_map_seurat.r'))

In [7]:
df_ann = read_csv("mtb_ann.csv")
df_ann %>% head(2)
df_ann %>% group_by(seurat_clusters_article,cell_type) %>% count

Rows: 17101 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (6): cell_id, treatment, protein, batch, cell_type, sub_cell_type_1
dbl (3): seurat_clusters_article, umap_1, umap_2

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  cell_id            seurat_clusters_article treatment protein batch
1 AAACCCACAGGCTATT_1 1                       Infected  no      Batch1
2 AAACCCAGTCCTACGG_1 4                       Infected  no      Batch1
  cell_type  sub_cell_type_1 umap_1   umap_2
1 macrophage IM_3            6.774730  1.134033
2 macrophage IM_1            1.706974 -2.713674

   seurat_clusters_article cell_type      n
1   0                      macrophage     3218
2   1                      macrophage     2861
3   2                      macrophage     2547
4   3                      macrophage     1896
5   4                      macrophage     1852
6   5                      macrophage     1843
7   6                      macrophage      967
8   7                      macrophage      536
9   8                      monocyte        444
10  9                      neutrophil      411
11 10                      dendritic cell  171
12 11                      lymphocyte      137
13 12                      lymphocyte      129
14 13                      lymphocyte       89

In [8]:
adata_count = read.csv('GSE167232_mtb_integrated.csv.gz',row.names = 1)

In [9]:
colnames(adata_count) %>% duplicated %>% any
colnames(adata_count) = str_c('Mtb_mtb',colnames(adata_count),sep = ';')
colnames(adata_count) %>% duplicated %>% any

[1] FALSE

[1] FALSE

In [10]:
colnames(adata_count) %>% head(2)

[1] "Mtb_mtb;AAACCCACAGGCTATT_1" "Mtb_mtb;AAACCCAGTCCTACGG_1"

In [11]:
adata <- CreateSeuratObject(counts = adata_count)
adata@meta.data <- adata@meta.data %>% mutate(
  cell_id = rownames(adata@meta.data), .before = 1
)
adata

Warning message:
“Data is of class data.frame. Coercing to dgCMatrix.”

An object of class Seurat
22626 features across 17101 samples within 1 assay
Active assay: RNA (22626 features, 0 variable features)
 1 layer present: counts

In [12]:
df_ann = df_ann %>% mutate(
cell_id = str_c('Mtb_mtb',cell_id,sep = ';')
)
df_ann %>% head(2)

  cell_id                    seurat_clusters_article treatment protein batch
1 Mtb_mtb;AAACCCACAGGCTATT_1 1                       Infected  no      Batch1
2 Mtb_mtb;AAACCCAGTCCTACGG_1 4                       Infected  no      Batch1
  cell_type  sub_cell_type_1 umap_1   umap_2
1 macrophage IM_3            6.774730  1.134033
2 macrophage IM_1            1.706974 -2.713674

In [13]:
adata@meta.data  = adata@meta.data %>% left_join(df_ann,by = 'cell_id')
rownames(adata@meta.data ) = adata@meta.data$cell_id
adata@meta.data %>% head(2)

                           cell_id                    orig.ident nCount_RNA
Mtb_mtb;AAACCCACAGGCTATT_1 Mtb_mtb;AAACCCACAGGCTATT_1 Mtb        9144
Mtb_mtb;AAACCCAGTCCTACGG_1 Mtb_mtb;AAACCCAGTCCTACGG_1 Mtb        1340
                           nFeature_RNA seurat_clusters_article treatment
Mtb_mtb;AAACCCACAGGCTATT_1 2176         1                       Infected
Mtb_mtb;AAACCCAGTCCTACGG_1  694         4                       Infected
                           protein batch  cell_type  sub_cell_type_1 umap_1
Mtb_mtb;AAACCCACAGGCTATT_1 no      Batch1 macrophage IM_3            6.774730
Mtb_mtb;AAACCCAGTCCTACGG_1 no      Batch1 macrophage IM_1            1.706974
                           umap_2
Mtb_mtb;AAACCCACAGGCTATT_1  1.134033
Mtb_mtb;AAACCCAGTCCTACGG_1 -2.713674

In [14]:
adata@meta.data = adata@meta.data %>% mutate(
    `_batch` = str_c(batch,treatment,sep = '_'),
    `orig.ident` = cell_id
    
) %>% rename(sub_cell_type = sub_cell_type_1)


adata@meta.data  = adata@meta.data %>% 
select(orig.ident,nCount_RNA,nFeature_RNA,cell_id,`_batch`,treatment,batch,cell_type,sub_cell_type,seurat_clusters_article,umap_1,umap_2)
adata@meta.data %>% head(2)

                           orig.ident                 nCount_RNA nFeature_RNA
Mtb_mtb;AAACCCACAGGCTATT_1 Mtb_mtb;AAACCCACAGGCTATT_1 9144       2176
Mtb_mtb;AAACCCAGTCCTACGG_1 Mtb_mtb;AAACCCAGTCCTACGG_1 1340        694
                           cell_id                    _batch          treatment
Mtb_mtb;AAACCCACAGGCTATT_1 Mtb_mtb;AAACCCACAGGCTATT_1 Batch1_Infected Infected
Mtb_mtb;AAACCCAGTCCTACGG_1 Mtb_mtb;AAACCCAGTCCTACGG_1 Batch1_Infected Infected
                           batch  cell_type  sub_cell_type
Mtb_mtb;AAACCCACAGGCTATT_1 Batch1 macrophage IM_3
Mtb_mtb;AAACCCAGTCCTACGG_1 Batch1 macrophage IM_1
                           seurat_clusters_article umap_1   umap_2
Mtb_mtb;AAACCCACAGGCTATT_1 1                       6.774730  1.134033
Mtb_mtb;AAACCCAGTCCTACGG_1 4                       1.706974 -2.713674

In [15]:
adata@meta.data %>% group_by(treatment,batch) %>% count
adata@meta.data %>% group_by(`_batch`) %>% count
adata@meta.data %>% group_by(cell_type) %>% count
adata@meta.data %>% group_by(sub_cell_type) %>% count

  treatment  batch  n
1 Bystander  Batch2 2220
2 Bystander  Batch3 1522
3 Infected   Batch1 2848
4 Infected   Batch2 4831
5 Infected   Batch3 2869
6 Uninfected Batch2  784
7 Uninfected Batch3 2027

  _batch            n
1 Batch1_Infected   2848
2 Batch2_Bystander  2220
3 Batch2_Infected   4831
4 Batch2_Uninfected  784
5 Batch3_Bystander  1522
6 Batch3_Infected   2869
7 Batch3_Uninfected 2027

  cell_type      n
1 dendritic cell   171
2 lymphocyte       355
3 macrophage     15720
4 monocyte         444
5 neutrophil       411

   sub_cell_type  n
1  AM_1           3218
2  AM_2           2547
3  AM_3           1843
4  AM_4            967
5  IM_1           1852
6  IM_2           1896
7  IM_3           2861
8  IM_4            536
9  dendritic cell  171
10 lymphocyte      355
11 monocyte        444
12 neutrophil      411

In [16]:
p_out = '../Mtb_m_all_GSE167232'
serurat_to_mtx(adata,p_out)

Warning message in write.csv(., file.path(p_dir, sprintf("%sobs.csv", prefixes)), :
“attempt to set 'col.names' ignored”

[out] ../Mtb_m_all_GSE167232

In [24]:
adata_mac = subset(adata,subset= cell_type == 'macrophage')
adata_mac@meta.data = adata_mac@meta.data %>% mutate(
    macr_cell_type = sub_cell_type,.after = sub_cell_type
)
adata_mac@meta.data %>% group_by(cell_type) %>% count
adata_mac@meta.data %>% group_by(sub_cell_type) %>% count
adata_mac@meta.data %>% group_by(macr_cell_type) %>% count

  cell_type  n
1 macrophage 15720

  sub_cell_type n
1 AM_1          3218
2 AM_2          2547
3 AM_3          1843
4 AM_4           967
5 IM_1          1852
6 IM_2          1896
7 IM_3          2861
8 IM_4           536

  macr_cell_type n
1 AM_1           3218
2 AM_2           2547
3 AM_3           1843
4 AM_4            967
5 IM_1           1852
6 IM_2           1896
7 IM_3           2861
8 IM_4            536

In [25]:
p_out = '../Mtb_m_macrophage_GSE167232'
serurat_to_mtx(adata_mac,p_out)

Warning message in write.csv(., file.path(p_dir, sprintf("%sobs.csv", prefixes)), :
“attempt to set 'col.names' ignored”

[out] ../Mtb_m_macrophage_GSE167232

In [26]:
cat("\n[finish]\n")

[finish]