
+ seurat_clusters_article -> cell_type, sub_cell_type_1
+ seuratObj ->  mtx
    + rename cell -> add 'Mtb_bal;'

In [1]:
library(tidyverse)
library(Seurat)
library(IRdisplay)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.0     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Loading required package: SeuratObject

Loading required package: sp

‘SeuratObject’ was built under R 4.3.2 but the current version is
4.3.3; it is recomended that you reinstall ‘SeuratObject’ as the ABI
for R may have changed

‘SeuratObject’ was built with package ‘Matrix’ 1.6.3 but the current
version is 1.6.5; it is recomended that you reinstall ‘SeuratObject’ as
the ABI for ‘Matrix’ may have changed


Attaching package: ‘SeuratObject’


The following object is masked from ‘package:base’:

    intersect

# find cell_type

In [2]:
markers = NULL
for(group in 0:7){
    cat(group,'\n')
    p_out <- file.path("markers", sprintf("bal_%d.csv", group))
    temp_df =  read_csv(p_out) %>% filter(p_val_adj < 0.01) %>% arrange(desc(avg_log2FC))
    # temp_df %>% rename(group = gourp) %>% write_csv(p_out)
    
    if(is.null(markers)){
        markers = temp_df
    }else{
            markers = bind_rows(markers,temp_df)
    }

    
}

0

Rows: 6001 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): gene_name
dbl (6): group, p_val, avg_log2FC, pct.1, pct.2, p_val_adj

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

1

Rows: 6017 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): gene_name
dbl (6): group, p_val, avg_log2FC, pct.1, pct.2, p_val_adj

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

2

Rows: 1810 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): gene_name
dbl (6): group, p_val, avg_log2FC, pct.1, pct.2, p_val_adj

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

3

Rows: 1571 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): gene_name
dbl (6): group, p_val, avg_log2FC, pct.1, pct.2, p_val_adj

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

4

Rows: 195 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): gene_name
dbl (6): group, p_val, avg_log2FC, pct.1, pct.2, p_val_adj

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

5

Rows: 1206 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): gene_name
dbl (6): group, p_val, avg_log2FC, pct.1, pct.2, p_val_adj

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

6

Rows: 41 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): gene_name
dbl (6): group, p_val, avg_log2FC, pct.1, pct.2, p_val_adj

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

7

Rows: 707 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): gene_name
dbl (6): group, p_val, avg_log2FC, pct.1, pct.2, p_val_adj

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [3]:
markers %>% head(2)
markers  %>% group_by(group) %>% count

  group gene_name p_val        avg_log2FC pct.1 pct.2 p_val_adj
1 0     TMEM217   3.240912e-10 2.609121   0.011 0.002 6.686325e-06
2 0     TMPRSS11E 4.354097e-42 2.029160   0.052 0.007 8.982938e-38

  group n
1 0     6001
2 1     6017
3 2     1810
4 3     1571
5 4      195
6 5     1206
7 6       41
8 7      707

In [4]:
# 0, CD63 -> AM_1
# markers %>% filter(group == 11)

markers %>% filter(group == 1 )%>% head(10)

   group gene_name p_val        avg_log2FC pct.1 pct.2 p_val_adj
1  1     ZFP57     1.153038e-13 3.660679   0.013 0.002 2.378833e-09
2  1     FGFR1     3.222484e-15 2.827522   0.033 0.011 6.648307e-11
3  1     FADS2     3.676613e-09 2.481059   0.023 0.009 7.585220e-05
4  1     ATP2A3    1.568145e-09 2.471397   0.022 0.008 3.235241e-05
5  1     MATK      2.556965e-11 2.042400   0.022 0.007 5.275274e-07
6  1     LAIR2     2.810622e-76 1.998084   0.159 0.051 5.798593e-72
7  1     EMP1      4.754130e-18 1.975094   0.039 0.013 9.808246e-14
8  1     GPX3      7.865502e-33 1.896422   0.182 0.108 1.622732e-28
9  1     SPOCD1    1.453588e-26 1.856334   0.229 0.167 2.998897e-22
10 1     EHBP1L1   3.609487e-95 1.766355   0.421 0.293 7.446733e-91

>  human_AM_4
MKI67,TOP2A,TK1,CENPF,RRM2,PCLAF,UBE2C,CLSPN,CENPM,TYMS,ASPM,BIRC5,CDK1,HELLS,ATAD2,TCF19,TPX2,FAM111B


> human_AM_2
MT-ND2,MT-ND4,MT-ND1,MT-ND5,CTSD,MT-CO1,MT-CYB,MT-CO2

> human_IM_1
CCL17,CLEC10A,F13A1,LIMD2,RASSF2,FCGR2B,SERPINF1,CORO1A,TMEM176B,MARCKS,ZFP36L1,MEF2C

> AM_IM1
ICAM1,MARCKS,TNIP3,NFKBIA,C15orf48,CXCL3,CXCL8,IL1B,CCL3,TNFAIP6,SOD2,CCL20,CCL4L2,CCL4

> human_AI 
APOE,LYZ,FABP4,SCD,RPS4X,MGST1,HP,RPS26,RPL32,RPL14,RPL13,RPS3A,CAMP,RPL5,RPS23,RPS8,RPL7A,RPL24


> AM_MT
MT2A,MT1G,MT1X,MT1E,MT1M,MT1H,MT1F,MT1A

> human_AM_2
 MTRNR2L12,MTRNR2L8,POLR2J3.1,PNISR,NKTR,NPIPB5,DDHD1,GCC2,MTRNR2L10,ARGLU1,N4BP2L2,DDX17,DDX5,RSRP1,WSB1,SMG1,ZNF207,TNFAIP2,CCNL1,MTRNR2L1,HNRNPH1,ATG16L2,ZEB2,RUFY3,CHD9,SREK1,AAK1,RBM6,IFI30,SRSF11,RASSF4,FOXP1,NABP1
 
 
> AM_1
MYL12A,LGALS3,NDUFA4,S100A9,HLA-DRB5,ATP5MC3,CD52,MYL12B,RPS4Y1,S100A11,ARPC3,COX7B


> AM_2_exclusive
MTRNR2L12,MTRNR2L8,POLR2J3.1,PNISR,NKTR,NPIPB5,DDHD1,GCC2,MTRNR2L10,ARGLU1,N4BP2L2,DDX17,DDX5,RSRP1,WSB1,SMG1,ZNF207,TNFAIP2,CCNL1,MTRNR2L1

In [5]:
# query_gene = str_split('',',')[[1]]
# markers %>% filter(gene_name %in% query_gene,avg_log2FC > 1)

# AM_1,0
# query_gene = str_split('MYL12A,LGALS3,NDUFA4,S100A9,HLA-DRB5,ATP5MC3,CD52,MYL12B,RPS4Y1,S100A11,ARPC3,COX7B',',')[[1]]
# markers %>% filter(gene_name %in% query_gene,avg_log2FC > 1)

# AI,2
# query_gene = str_split('APOE,LYZ,FABP4,SCD,RPS4X,MGST1,HP,RPS26,RPL32,RPL14,RPL13,RPS3A,CAMP,RPL5,RPS23,RPS8,RPL7A,RPL24',',')[[1]]
# markers %>% filter(gene_name %in% query_gene,avg_log2FC > 1)

# AM_4,3
# query_gene = str_split('MKI67,TOP2A,TK1,CENPF,RRM2,PCLAF,UBE2C,CLSPN,CENPM,TYMS,ASPM,BIRC5,CDK1,HELLS,ATAD2,TCF19,TPX2,FAM111B',',')[[1]]
# markers %>% filter(gene_name %in% query_gene,avg_log2FC > 0)


# AM_IM1,4
# query_gene = str_split('ICAM1,MARCKS,TNIP3,NFKBIA,C15orf48,CXCL3,CXCL8,IL1B,CCL3,TNFAIP6,SOD2,CCL20,CCL4L2,CCL4',',')[[1]]
# markers %>% filter(gene_name %in% query_gene,avg_log2FC > 1)

# IM_1,5
# query_gene = str_split('CCL17,CLEC10A,F13A1,LIMD2,RASSF2,FCGR2B,SERPINF1,CORO1A,TMEM176B,MARCKS,ZFP36L1,MEF2C',',')[[1]]
# markers %>% filter(gene_name %in% query_gene,avg_log2FC > 1)

# AM_MT,6
# query_gene = str_split('MT2A,MT1G,MT1X,MT1E,MT1M,MT1H,MT1F,MT1A',',')[[1]]
# markers %>% filter(gene_name %in% query_gene,avg_log2FC > 1)

# AM_2_exclusive,7
# query_gene = str_split('MTRNR2L12,MTRNR2L8,POLR2J3.1,PNISR,NKTR,NPIPB5,DDHD1,GCC2,MTRNR2L10,ARGLU1,N4BP2L2,DDX17,DDX5,RSRP1,WSB1,SMG1,ZNF207,TNFAIP2,CCNL1,MTRNR2L1,HNRNPH1,ATG16L2,ZEB2,RUFY3,CHD9,SREK1,AAK1,RBM6,IFI30,SRSF11,RASSF4,FOXP1,NABP1',',')[[1]]
# markers %>% filter(gene_name %in% query_gene,avg_log2FC > 1)

# human_AM_2,1?7
query_gene = str_split('MT-ND2,MT-ND4,MT-ND1,MT-ND5,CTSD,MT-CO1,MT-CYB,MT-CO2',',')[[1]]
markers %>% filter(gene_name %in% query_gene,avg_log2FC > 1)

   group gene_name p_val        avg_log2FC pct.1 pct.2 p_val_adj
1  1     MT-ND2    0.000000e+00 1.322873   0.984 0.997 0.000000e+00
2  1     MT-ND4    0.000000e+00 1.168561   0.994 1.000 0.000000e+00
3  1     MT-ND5    0.000000e+00 1.100028   0.961 0.981 0.000000e+00
4  1     MT-ND1    0.000000e+00 1.063367   0.995 0.999 0.000000e+00
5  7     MT-ND5    3.158575e-13 1.700701   0.944 0.975 6.516456e-09
6  7     MT-CO1    1.793555e-16 1.375111   1.000 1.000 3.700283e-12
7  7     MT-ND2    2.756087e-14 1.351663   1.000 0.993 5.686083e-10
8  7     MT-CO2    7.560387e-16 1.223689   1.000 1.000 1.559783e-11
9  7     MT-ND4    2.466245e-14 1.220862   1.000 0.998 5.088111e-10
10 7     MT-ND1    6.288391e-15 1.217354   1.000 0.998 1.297358e-10
11 7     MT-CYB    1.263994e-11 1.024799   1.000 0.999 2.607746e-07

# Seruat -> mtx

In [6]:
source(file.path('~/link/res_publish','func_r_map_seurat.r'))

Attaching package: ‘Matrix’


The following objects are masked from ‘package:tidyr’:

    expand, pack, unpack

> function----------------------------------------
serurat_to_mtx

> Map_Seruat function-----------------------------
Map_Seruat_normalize
Map_Seruat_cluster
Map_Seruat_mapquery
Map_Seruat_example		[example]
precess_after_Seurat
run_Seurat			[simply]

> other-------------------------------------------
get_path_varmap

In [7]:
df_ann = read_csv("bal_ann.csv")
df_ann %>% head(2)
df_ann %>% group_by(seurat_clusters_article,sub_cell_type_1) %>% count

Rows: 10357 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): cell_id, batch, cell_type, sub_cell_type_1
dbl (3): seurat_clusters_article, umap_1, umap_2

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  cell_id            batch     seurat_clusters_article cell_type
1 AAACCCAAGTGCACCC_1 Subject 1 7                       macrophage
2 AAACCCAGTGAGCTCC_1 Subject 1 0                       macrophage
  sub_cell_type_1 umap_1   umap_2
1 AM_2_exclusive  1.432929  6.731284
2 AM_1            2.396438 -2.110921

  seurat_clusters_article sub_cell_type_1 n
1 0                       AM_1            5154
2 1                       AM_2            3157
3 2                       AI              1410
4 3                       AM_4             281
5 4                       AM_IM1           162
6 5                       IM_1             108
7 6                       AM_MT             49
8 7                       AM_2_exclusive    36

In [8]:
adata_count = read.csv('GSE167232_bal_integrated.csv.gz',row.names = 1)

In [9]:
colnames(adata_count) %>% duplicated %>% any
colnames(adata_count) = str_c('Mtb_bal',colnames(adata_count),sep = ';')
colnames(adata_count) %>% duplicated %>% any

[1] FALSE

[1] FALSE

In [10]:
adata <- CreateSeuratObject(counts = adata_count)
adata@meta.data <- adata@meta.data %>% mutate(
  cell_id = rownames(adata@meta.data), .before = 1
)

adata

Warning message:
“Data is of class data.frame. Coercing to dgCMatrix.”

An object of class Seurat
20631 features across 10357 samples within 1 assay
Active assay: RNA (20631 features, 0 variable features)
 1 layer present: counts

In [11]:
df_ann = df_ann %>% mutate(
cell_id = str_c('Mtb_bal',cell_id,sep = ';')
)
df_ann %>% head

  cell_id                    batch     seurat_clusters_article cell_type
1 Mtb_bal;AAACCCAAGTGCACCC_1 Subject 1 7                       macrophage
2 Mtb_bal;AAACCCAGTGAGCTCC_1 Subject 1 0                       macrophage
3 Mtb_bal;AAACCCAGTTCTTAGG_1 Subject 1 1                       macrophage
4 Mtb_bal;AAACGAACATACATCG_1 Subject 1 1                       macrophage
5 Mtb_bal;AAACGCTAGTCGAATA_1 Subject 1 1                       macrophage
6 Mtb_bal;AAACGCTAGTTTAGGA_1 Subject 1 1                       macrophage
  sub_cell_type_1 umap_1    umap_2
1 AM_2_exclusive  1.4329291  6.731284
2 AM_1            2.3964381 -2.110921
3 AM_2            0.9477591  4.732689
4 AM_2            0.7723368  4.046975
5 AM_2            1.6108452  3.760695
6 AM_2            0.7937615  4.901186

In [12]:
adata@meta.data = adata@meta.data %>% left_join(df_ann,by = 'cell_id')
rownames(adata@meta.data ) = adata@meta.data$cell_id
adata@meta.data %>% head(2)

                           cell_id                    orig.ident nCount_RNA
Mtb_bal;AAACCCAAGTGCACCC_1 Mtb_bal;AAACCCAAGTGCACCC_1 Mtb        2561
Mtb_bal;AAACCCAGTGAGCTCC_1 Mtb_bal;AAACCCAGTGAGCTCC_1 Mtb        6745
                           nFeature_RNA batch     seurat_clusters_article
Mtb_bal;AAACCCAAGTGCACCC_1 1432         Subject 1 7
Mtb_bal;AAACCCAGTGAGCTCC_1 2497         Subject 1 0
                           cell_type  sub_cell_type_1 umap_1   umap_2
Mtb_bal;AAACCCAAGTGCACCC_1 macrophage AM_2_exclusive  1.432929  6.731284
Mtb_bal;AAACCCAGTGAGCTCC_1 macrophage AM_1            2.396438 -2.110921

In [13]:
adata@meta.data %>% colnames
adata@meta.data %>% head(2)

 [1] "cell_id"                 "orig.ident"
 [3] "nCount_RNA"              "nFeature_RNA"
 [5] "batch"                   "seurat_clusters_article"
 [7] "cell_type"               "sub_cell_type_1"
 [9] "umap_1"                  "umap_2"

                           cell_id                    orig.ident nCount_RNA
Mtb_bal;AAACCCAAGTGCACCC_1 Mtb_bal;AAACCCAAGTGCACCC_1 Mtb        2561
Mtb_bal;AAACCCAGTGAGCTCC_1 Mtb_bal;AAACCCAGTGAGCTCC_1 Mtb        6745
                           nFeature_RNA batch     seurat_clusters_article
Mtb_bal;AAACCCAAGTGCACCC_1 1432         Subject 1 7
Mtb_bal;AAACCCAGTGAGCTCC_1 2497         Subject 1 0
                           cell_type  sub_cell_type_1 umap_1   umap_2
Mtb_bal;AAACCCAAGTGCACCC_1 macrophage AM_2_exclusive  1.432929  6.731284
Mtb_bal;AAACCCAGTGAGCTCC_1 macrophage AM_1            2.396438 -2.110921

In [14]:
adata@meta.data = adata@meta.data %>% 
rename(`_batch` = batch,sub_cell_type = sub_cell_type_1) %>%
mutate(
    `orig.ident` = cell_id
) %>%
select(orig.ident,nCount_RNA,nFeature_RNA,cell_id,`_batch`,cell_type,sub_cell_type,seurat_clusters_article,umap_1,umap_2)
adata@meta.data %>% head

                           orig.ident                 nCount_RNA nFeature_RNA
Mtb_bal;AAACCCAAGTGCACCC_1 Mtb_bal;AAACCCAAGTGCACCC_1 2561       1432
Mtb_bal;AAACCCAGTGAGCTCC_1 Mtb_bal;AAACCCAGTGAGCTCC_1 6745       2497
Mtb_bal;AAACCCAGTTCTTAGG_1 Mtb_bal;AAACCCAGTTCTTAGG_1 3705       1703
Mtb_bal;AAACGAACATACATCG_1 Mtb_bal;AAACGAACATACATCG_1 4242       1995
Mtb_bal;AAACGCTAGTCGAATA_1 Mtb_bal;AAACGCTAGTCGAATA_1 2861       1532
Mtb_bal;AAACGCTAGTTTAGGA_1 Mtb_bal;AAACGCTAGTTTAGGA_1 2016       1119
                           cell_id                    _batch    cell_type
Mtb_bal;AAACCCAAGTGCACCC_1 Mtb_bal;AAACCCAAGTGCACCC_1 Subject 1 macrophage
Mtb_bal;AAACCCAGTGAGCTCC_1 Mtb_bal;AAACCCAGTGAGCTCC_1 Subject 1 macrophage
Mtb_bal;AAACCCAGTTCTTAGG_1 Mtb_bal;AAACCCAGTTCTTAGG_1 Subject 1 macrophage
Mtb_bal;AAACGAACATACATCG_1 Mtb_bal;AAACGAACATACATCG_1 Subject 1 macrophage
Mtb_bal;AAACGCTAGTCGAATA_1 Mtb_bal;AAACGCTAGTCGAATA_1 Subject 1 macrophage
Mtb_bal;AAACGCTAGTTTAGGA_1 Mtb_bal;AAACGCTAGTTTAGGA_1 Subject 1 macrophage
                           sub_cell_type  seurat_clusters_article umap_1
Mtb_bal;AAACCCAAGTGCACCC_1 AM_2_exclusive 7                       1.4329291
Mtb_bal;AAACCCAGTGAGCTCC_1 AM_1           0                       2.3964381
Mtb_bal;AAACCCAGTTCTTAGG_1 AM_2           1                       0.9477591
Mtb_bal;AAACGAACATACATCG_1 AM_2           1                       0.7723368
Mtb_bal;AAACGCTAGTCGAATA_1 AM_2           1                       1.6108452
Mtb_bal;AAACGCTAGTTTAGGA_1 AM_2           1                       0.7937615
                           umap_2
Mtb_bal;AAACCCAAGTGCACCC_1  6.731284
Mtb_bal;AAACCCAGTGAGCTCC_1 -2.110921
Mtb_bal;AAACCCAGTTCTTAGG_1  4.732689
Mtb_bal;AAACGAACATACATCG_1  4.046975
Mtb_bal;AAACGCTAGTCGAATA_1  3.760695
Mtb_bal;AAACGCTAGTTTAGGA_1  4.901186

In [15]:
adata = subset(adata,subset= cell_type == 'macrophage')
adata@meta.data = adata@meta.data %>% mutate(
    macr_cell_type = cell_type,.after = sub_cell_type
)

adata@meta.data %>% group_by(cell_type) %>% count
adata@meta.data %>% group_by(sub_cell_type) %>% count
adata@meta.data %>% group_by(macr_cell_type ) %>% count

  cell_type  n
1 macrophage 10357

  sub_cell_type  n
1 AI             1410
2 AM_1           5154
3 AM_2           3157
4 AM_2_exclusive   36
5 AM_4            281
6 AM_IM1          162
7 AM_MT            49
8 IM_1            108

  macr_cell_type n
1 macrophage     10357

In [16]:
p_out = '../Mtb_h_macrophage_GSE167232'
serurat_to_mtx(adata,p_out)

Warning message in write.csv(., file.path(p_dir, sprintf("%sobs.csv", prefixes)), :
“attempt to set 'col.names' ignored”

[out] ../Mtb_h_macrophage_GSE167232

In [17]:
cat('\n[finish]\n')

[finish]